.carouselContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0);
  z-index: 1000;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carouselContainer::-webkit-scrollbar {
  width: 0px; /* Hide scrollbar width */
  display: none; /* Safari and Chrome */
}

.carouselImageWrapper {
  position: relative;
  width: 100%;
  height: 95%;
  padding: 0;
  margin: 0;
}

.imageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 2px solid green;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  color: green;
  font-size: 1.25rem;
  padding: 0;
  cursor: pointer;
  z-index: 1001;
}

.imageCount {
  font-size: 0.75rem;
  margin: 0 5px;
  padding-top: 3px;
  line-height: 1;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.imageButton:hover {
  background-color: green;
  color: black;
  border: none;
}

@media (max-width: 768px) {
  @media (hover: none) and (pointer: coarse) {
    .prevButton,
    .nextButton {
      display: none; /* Hide buttons on touch devices */
    }
  }
}
