.loadMoreButton {
  background-color: transparent;
  color: #158019;
  border: 2px solid #158019;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

.loadMoreButton:hover {
  background-color: green;
  color: black;
}

.loadMoreButton:disabled {
  color: transparent;
  cursor: not-allowed;
  background-color: transparent;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 0;
}
