.loadMoreButton {
  background-color: transparent;
  color: #158019;
  border: 2px solid #158019;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.loadMoreButton:hover {
  background-color: #10681446;
}

.loadMoreButton:disabled {
  color: transparent;
  cursor: not-allowed;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 0;
}
