.loginForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 30px auto;
  gap: 10px;
}

.yellowButton {
  border: 2px solid yellow;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 12px;
  font-weight: 500;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellowButton:hover {
  color: black;
  background-color: yellow;
  border: none;
}

.label {
  font-size: 0.75rem;
}

@media (max-width: 524px) {
  .loginForm {
    width: 80%;
  }
}
