.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #030303;
}

.logoContainer {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 100px;
  height: auto;
}

.logoText {
  font-size: 3rem;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.navLinks a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #0070f3;
}

@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    gap: 1rem;
    margin-top: 0.5rem;
    width: 100%;
    justify-content: flex-end;
  }
}

@media (max-width: 724px) {
  .navbar {
    padding: 0.5rem 0.5rem;
  }
  .logoText {
    font-size: 40px;
  }
}
