.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #030303;
}

.logoContainer {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 100px;
  height: auto;
}

.logoText {
  font-size: 3rem;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.navLinks a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #0070f3;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-start; /* Align items to the start */
  }

  .navLinks {
    flex-direction: column; /* Stack links vertically */
    gap: 1rem; /* Reduce gap for smaller screens */
    margin-top: 1rem; /* Add margin on top for spacing */
    width: 100%; /* Full width for links */
  }
}
